// BackgroundColors
$backgroundBody: rgb(13, 106, 134);
$backgroundBodyAlt: #f3f3f3;

// Colors
$btnDelete: rgb(163, 18, 47);
$btnClear: rgb(218, 127, 0);
$btnEqual: rgb(13, 106, 134);
// Colors(hover)
$btnDeleteHover: rgb(185, 20, 53);
$btnClearHover: rgb(242, 141, 0);
$btnEqualHover: rgb(21, 135, 170);